:local .wrap {
  width: 100%;
  height: 100%;
  writing-mode: vertical-rl;
  padding: 5rem;
  box-sizing: border-box;
}

:local .cols li {
  margin-right: 1.2em;
}
:local .cols li:first-child {
  margin-right: 0;
}
:local .button {
  display: inline-block;
  margin-right: 2.4em;
  padding: 0.8em;
  background-color: #fff;
  border: 1px solid #333;
  font-size: 1.8rem;
}
:local .phase1 {
}
:local .phase2 {
  display: none;
}
