:local .select {
  display: none;
}
:local .modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
:local .list {
  position: absolute;
  left: 50%;
  top: 5rem;
  display: inline-block;
  border: 1px solid #333;
  background: #fff;
}
:local .list li {
  padding: 1.5rem;
  border-right: 1px solid #333;
}
:local .list li:first-child {
  border-right: none;
}
:local .list .active {
  background-color: #e3bdff;
}
