doctype
html
  head
    meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0")
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(property='og:title', content='ここにタイトル')
    meta(property='og:type', content='ここにページのタイプ')
    meta(property='og:url', content='ここにページのURL')
    meta(property='og:image', content='ここにサムネイル画像のURL')
    meta(property='og:desctiption', content='ここにページの説明')
    meta(property='og:site_name', content='ウェブサイトの名前')
    //- meta(property='fb:admins', content='adminID（15文字の半角数字）')
    //- meta(property='article:publisher', content='FacebookページURLかID')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@kzhrk0430')
    meta(name='twitter:title', content='Small Island Developing States Photo Submission')
    meta(name='twitter:description', content='View the senriu on Senriu.')
    meta(name='twitter:image', content='#')
    meta(name='twitter:url', content='#')
    title せんりう
  body
    h1 管理画面
    div#app
      form(action="/api/theme", method="post")
        input(type="text", name="title")
        input(type="submit", value="送信")
      form(action="/api/theme?_method=DELETE", method="post")
        ul
          each digit in theme
            li
              label
                input(type="checkbox", name="ids", value=`${digit._id}`)
                span= digit.title
        input(type="submit", value="削除")
      form(action="/api/senriu?_method=DELETE", method="post")
        ul
          each digit in senriu
            li
              label
                input(type="checkbox", name="urlIds", value=`${digit.urlId}`)
                span= digit.author
        input(type="submit", value="削除")