:local .wrap {
  width: 400px;
}

:local .senriu {
  float: left;
  border: 4px solid #ccc;
  width: 120px;
  margin-left: 20px;
  padding: 22px;
  background-color: #fff;
}
:local .senriu:nth-child(3n+1) {
  margin-left: 0;
}
:local .cols {
  margin: 0 auto;
  font-size: 14px;
  writing-mode: vertical-rl;
}
:local .cols li:nth-child(1) {

}
:local .cols li:nth-child(2) {
  margin-top: 36px;
}
:local .cols li:nth-child(3) {
  margin-top: 100px;
}