@import "reset-css/reset.css";

html,body {
  height: 100%;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "はんなり明朝", "hannari", "游明朝体", "Yu Mincho", "YuMincho", "Sawarabi Mincho", serif;
  font-size: 1.6rem;
  color: #121010;
  background-image: url(/assets/bg_seikaiha.png);
  background-size: 112.5px 56.25px;
  box-shadow:0px 0px 60px 3px #969591 inset;
  background-color: #f3f2eb;
}

body {
  background-color: #f3f2eb;
  background-image: url(/assets/bg_seikaiha.png);
  background-size: 112.5px 56.25px;
  background-position: left center;
}

body:before {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-image: linear-gradient(#f3f2eb  50%, transparent 100%);
   opacity: 1;
}

body:after {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-image: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 200%);
}


a {
  color: #121010;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}


:local .wrap {
  width: 100%;
}
:local .fullscreen {
  width: 100%;
  height: 100%;
}
:local .fullscreen .header {
  display: none;
}
:local .fullscreen .nav {
  display: none;
}

:local .header {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  min-height: 510px;
  writing-mode: vertical-rl;
}
/*@media (--phone) {
  :local .header {
    display: none;
  }
}*/
:local .headerInner {
  padding: 40px 40px 40px 0;
}
:local .header h1 {
  display: inline-block;
  height: 33%;
  font-size: 3.5rem;
}
:local .pageTitle {
  display: inline-block;
  height: 33%;
  text-align: center;
}
:local .headerShare {
  display: inline-block;
  height: 33%;
  text-align: right;
}
:local .headerShare span {
  display: block;
  cursor: pointer;
}

/* contents */
:local .contents {
  width: 100%;
  height: 100%;
  padding: 0 10rem;
}

/* navigation */
:local .nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  min-height: 515px;
  line-height: 1;
  writing-mode: vertical-rl;
}
:local .navInner {
  padding: 40px 0 40px 40px;
}
:local .nav li {
  display: inline-block;
  height: 33.3%;
}
:local .nav li:nth-child(2) {
  text-align: center;
}
:local .nav li:nth-child(3) {
  text-align: right;
}
